@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "theme.css";

* {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
label {
  font-size: large;
  font-weight: bold;
}
#root {
  padding-left: 30%;
  padding-right: 30%;
  height: 100vh;
}

body {
  margin: 0;
  font-size: 17px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/d/dd/Flickr_-_cyclonebill_-_Vagtel-spejl%C3%A6g.jpg)
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3233;
}

@media screen and (max-width: 1400px) {
  #root {
    padding-left: 30%;
    padding-right: 30%;
  }
}

@media screen and (max-width: 750px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
}
.meals {
  padding: 10px;
  margin: 20px;
}
li {
  padding: 10px;
  margin: 10px;
  background-color: ghostwhite;
}

.add-meal {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}

.navbar-active {
  color: tomato;
}
.main-nav:hover {
  color: rgb(217, 233, 223) !important;
}
.main-nav {
  font-family: cursive;
  font-weight: bold;
}
.main-links {
  color: rgb(64, 22, 180);
}
.main-links:hover {
  color: gainsboro;
}

li:hover {
  background-color: peru;
}
.logo {
  background-color: peru;
}
.logo:hover {
  background-color: peru;
}

.nav-item:hover {
  background-color: gray;
}

.navbar {
  padding: 10px;
  margin-top: 30px;
  overflow: hidden;
  width: max-content;
}

.app {
  padding: 5px;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.sidebar {
  width: 200px;
}

.reservForm {
  display: block;
}
.reserv-form {
  padding: 10px;
}
.text-mealId {
  background-color: peru;
  line-height: 40px;
  padding: 10px;
  border-radius: 20px;
}
.footer {
  height: 40px;
  padding: 10px;
  display: inline;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 10;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

button:hover {
  background-color: orange;
  box-shadow: 0px 15px 20px rgba(179, 153, 38, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
input[type="radio"] {
  display: none;
}
.star {
  cursor: pointer;
  transition: color 200ms;
}

.autoComplete {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 35px;
}
/* hr {
  border-top: 1px solid seashell;
} */
.input-autocomplete {
  width: 100%;
  border-radius: 45px;
}
.form {
  margin: 10px;
}
.searchDiv {
  display: flex;
  flex-direction: row;
}
.aboutDiv {
  width: 100%;
  line-height: 30px;
  padding: 10px;
}
.about {
  margin-top: 125px;
  font-weight: bold;
  color: darkblue;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 45px;
  margin-right: 20px;
}
.show-form {
  background-color: snow;
  margin-top: 345px;
  line-height: 40px;
  font-family: cursive;
  font-size: medium;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 45px;
  color: tomato;
}
